* text
*.json text
*.java text diff=java

# Fedora 3
# The line endings for these files are a mix of lf and crlf
# Set to binary in order for them not to be changed when building on Windows
*.0 binary

# Fedora 6
*.nt eol=lf
*.json eol=lf
*.sha512 eol=lf

# Images
*REF binary
*REF.0 binary
*THUMB binary
*THUMB.0 binary
*MASTER0 binary
